@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    background-color: #252529;
}
ul li{
    margin: 10px 0px ;
    list-style: none;
    color: #ffffff;
}
.container{
    text-align: center;
    margin: 0 auto;
}
.section1{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
nav li{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}
nav li a{
    color: #eeeeee;
}
nav li:hover{
    background-color: #4a4949ae;
    color: #eee;
}
.section2{
    margin: 0;
    padding: 0;
    background-image: url(/images/mainbg.jpeg);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container2{
    min-width: 1180px;
    text-align: center;
    margin: 0 auto;
}
.container4{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

h1{
    color: white;
    font-size: 4rem;
    margin-top: 150px;
    margin-bottom: 26px;
}
h2{
    margin-top: 60px;
    margin-bottom: 26px;
    font-size: 2rem;
}
h3{
    font-size: 2rem;
    color: #eee;
    margin: 32px 0;
}
.lead{
    color: #eee;
    font-size: 1.3rem;
}
#line2{
    text-align: center;
    padding: 10px 230px;
}
.lead1{
    margin: 20px 0px;
    padding: 10px 230px;
}
a{
    text-decoration: none;
}
.orange{
    color: #eee;
    font-size: 16px;
    margin:16px;
}
.bg-light h3,p{
    color: black;
}
.video-head{
    padding-top: 52px;
}
.bg-light p{
    padding: 20px 0px;
    font-size: 1.3rem;
}
.bg-light1 p{
    padding: 20px 200px;
    font-size: 1.3rem;
}
.mockup2{
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}
#entertainment{
    background-image:url('/images/section-bg.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.container5{
    text-align: center;
    margin: 0 auto;
    padding: 10rem 190px;
}
.container6{
        max-width: 1180px;
        text-align: center;
        margin: 0 auto;
        padding: 0 3rem;
}
.gift-cards{
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(2, 1fr);
text-align: left;
}
.card{
    width: 100%;
}
.bg-light{
    background-color: #eee;
}
footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
.footer-cols li{
    font-size: 18px;
    color: #eee;
    font-weight: bold;
}
.footer-cols li a{
    font-size: 14px;
    color: #eee;
    font-weight: lighter;
}
footer .footer-bottom {
    background: #333;
    padding: 1rem;
    color: #eee;
}

